<div id="<%= dom_id client %>">
  <p>
    <strong>Company name:</strong>
    <%= client.company_name %>
  </p>

  <p>
    <strong>Firstname:</strong>
    <%= client.firstname %>
  </p>

  <p>
    <strong>Lastname:</strong>
    <%= client.lastname %>
  </p>

  <p>
    <strong>Streetname:</strong>
    <%= client.streetname %>
  </p>

  <p>
    <strong>Zipcode:</strong>
    <%= client.zipcode %>
  </p>

  <p>
    <strong>City:</strong>
    <%= client.city %>
  </p>

  <p>
    <strong>Country:</strong>
    <%= client.country %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= client.email %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= client.phone %>
  </p>

</div>
