<div id="<%= dom_id subproject %>">
  <p>
    <strong>Subproject name:</strong>
    <%= subproject.subproject_name %>
  </p>

  <p>
    <strong>Project:</strong>
    <%= subproject.project_id %>
  </p>

  <p>
    <strong>Client:</strong>
    <%= link_to "#{subproject.client&.company_name} (#{subproject.client&.lastname}, #{subproject.client&.firstname})", client_path(subproject.client&.id) %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= link_to "#{subproject.owner&.company_name} (#{subproject.owner&.lastname}, #{subproject.owner&.firstname})", client_path(subproject.owner&.id) %>
  </p>

  <p>
    <strong>Builder:</strong>
    <%= link_to "#{subproject.builder&.company_name} (#{subproject.builder&.lastname}, #{subproject.builder&.firstname})", client_path(subproject.builder&.id) %>
  </p>

</div>
