<div id="<%= dom_id subproject %>">
  <p>
    <strong>Subproject name:</strong>
    <%= subproject.subproject_name %>
  </p>

  <p>
    <strong>Project:</strong>
    <%= subproject.project_id %>
  </p>

  <p>
    <strong>Client:</strong>
    <%= subproject.client_id %>
  </p>

  <p>
    <strong>Owner:</strong>
    <%= subproject.owner_id %>
  </p>

  <p>
    <strong>Builder:</strong>
    <%= subproject.builder_id %>
  </p>

</div>
