<p style="color: green"><%= notice %></p>

<%= render @subproject %>

<div>
  <%= link_to "Edit this subproject", edit_subproject_path(@subproject) %> |
  <%= link_to "Back to subprojects", subprojects_path %>

  <%= button_to "Destroy this subproject", @subproject, method: :delete %>
</div>
